*{  scroll-behavior: smooth;   
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
   
    
}

html {
    scroll-behavior: smooth;
}
body {
    scroll-behavior: smooth;
    background: rgba(255, 255, 255, 0.514);
    font-family: 'Poppins', sans-serif;
    width : 100%;

}


body::-webkit-scrollbar {
    width: 16px;
    background: rgb(250, 249, 249);
}

body::-webkit-scrollbar-thumb {
    background: hsla(221, 90%, 8%, 0.808);
    border-radius: 25px;
    border:4px solid rgb(250, 249, 249);
}

body::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 1%, 76%, 0.808);
}

a{
    text-decoration: none;
}

header {
    width:100%;
    display: flex;
    flex-flow: column nowrap;
    border-bottom:3px solid rgb(249, 249, 250);
}
       
        .menu{
            width: 100%;
            height: 70px;
            background: rgba(1, 3, 31, 0.521);
            display: flex;
            align-items: center;
            justify-content:space-around;
            position: fixed;
            top: 0;
            transition: top 0.5s;
            z-index: 1000;
           
        }
            .img1 {
                height: 60px;
                width: 60px;
                margin-left: 60px;
                margin-top: 5px;
            }
            .logo  {
                flex:1 1 auto;
                }
                    .logo a{
                        color: rgb(255, 255, 255);
                        font-size: 30px;
                    }
                    .logo a:hover {
                       color: hsla(205, 30%, 12%, 0.692);
                    }
            .nav {
                flex:5 1 auto;
                }
                    .nav a{
                        color: #fff;
                        font-size: 15px;
                        padding-left: 40px;
                        letter-spacing: 2px;
                        font-weight: 500;
                    }
                    .nav a>i {
                        margin-right: 10px;
                    }
                    .nav a:hover {
                        color: rgb(192, 194, 216);
                    }
            .social {
                flex:1 1 auto;
                display: flex;
                }
                    .social a{
                        font-size: 20px;
                        color: #fff;
                        padding-left: 40px;
                    }
                    .social a:hover {
                        color: rgb(192, 194, 216);
                    }
        




    .section {
        background: rgba(236, 236, 236, 0.514);
        box-sizing: border-box;
        width: 100%;
                        
                        
                        
                    }
            .articulos {
                 box-sizing: border-box;
                            
                            
                }
                .article {
                    background:linear-gradient(to top, rgba(19, 19, 20, 0.836) 0%, rgba(1, 6, 49, 0.856) 100%);
                    margin-top: 100px;
                    padding-bottom: 50px;
                    padding-top: 30px;
                    display: flex;
                    box-sizing: border-box;
                                
                                
                                
                            }


                            .informacion {
                                width: auto;
                                display: block;
                                height: auto;
                                margin-left: 200px;
                                margin-right: 200px;
                                margin-top: 30px;
                                padding-left: 30px;
                                padding-right: 30px;
                                color:#fff;
                                box-sizing: border-box;
                            }
                                .informacion h2{
                                    font-size: 32px;
                                    text-align: center;
                                    margin-top:auto;
                                    font-weight: 500;
                                    margin-bottom: 30px;
                                    letter-spacing: 2px;
                                    color: #fff;
                                }
                                    .informacion p{
                                        font-size: 15px;
                                        font-weight: 300;
                                        letter-spacing: 1px;
                                        text-align: center;
                                    }



                    .article1 {
                        margin-top: 10px;
                        padding-bottom: 50px;
                        padding-top: 30px;
                        display: flex;
                        box-sizing: border-box;
                    }
                                .informacion1 {
                            
                                    width: 100%;
                                    display: block;
                                    height: auto;
                                    margin-left: 200px;
                                    margin-right: 200px;
                                    margin-top: 30px;
                                    padding-left: 30px;
                                    padding-right: 30px;
                                    color: hsl(248, 12%, 13%);
                                    box-sizing: border-box;
                                    }
                                    .informacion1 h2{
                                        font-size: 32px;
                                        text-align: center;
                                        margin-top: 30px;
                                        font-weight: 500;
                                        margin-bottom: 30px;
                                        letter-spacing: 2px;
                                        color: hsla(221, 90%, 8%, 0.884);
                                    }
                                            .informacion1 p{
                                                font-size: 15px;
                                                font-weight: 300;
                                                letter-spacing: 1px;
                                                text-align: center;
                                            }



                
            .h2 {
                margin-top: 50px;
                text-align: center;
                font-size: 40px;
                margin-bottom: 70px;
                color: hsla(221, 90%, 8%, 0.884);
                font-weight: 400

            }

                .arti {
                    display: block;
                    justify-content: center;
                    align-items: center;
                    margin: 20px 0px;
                    padding: 50px 0px;
                    color: #fff;
                }
                    .arti h3 {
                        margin-bottom: 20px;
                        text-align: center;
                        font-size: 40px;
                        font-weight: 300;
                    }
                    .arti li {
                        font-size: 20px;
                        font-weight: 300;
                    }


                .a1 {
                    background-image: linear-gradient(to top, rgba(20, 19, 19, 0.836) 0%, rgba(1, 6, 49, 0.856) 100%), url(../imagenes/kara.jpg);
                    background-position: center;
                    background-size: cover;
                    background-attachment: fixed;
                    object-fit: cover;
                }
                
                .a2 {
                    background-image: linear-gradient(to top, rgba(20, 19, 19, 0.836) 0%, rgba(1, 6, 49, 0.856) 100%), url(../imagenes/kick.jpg);
                    background-position: center;
                    background-size: cover;
                    background-attachment: fixed;
                    object-fit: cover;
                }

                .a3 {
                    background-image: linear-gradient(to top, rgba(20, 19, 19, 0.836) 0%, rgba(1, 6, 49, 0.856) 100%), url(../imagenes/krav.jpg);
                    background-position: center;
                    background-size: cover;
                    background-attachment: fixed;
                    object-fit: cover;
                }

                .a4 {
                    background-image: linear-gradient(to top, rgba(20, 19, 19, 0.836) 0%, rgba(1, 6, 49, 0.856) 100%), url(../imagenes/armas.jpg);
                    background-position: center;
                    background-size: cover;
                    background-attachment: fixed;
                    object-fit: cover;
                }



                    .ul {
                        margin: auto;
                        width: 30%;
                    }
            




.map {
        background-image:linear-gradient(to top, rgba(0, 0, 0, 0.753) 0%, rgba(0, 6, 58, 0.87) 100%), url(../imagenes/Dojo_de_karate.png);
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        object-fit: cover;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        box-sizing: border-box;
                    }
                        .uno {
                            display: flex;
                            width: 40%;
                            height: auto;
                        }
                        .dos {
                            display: block;
                            width: 40%;
                            height: auto;
                            color: #fff;
                        }
                            .dos h2{
                                vertical-align: top;
                                font-size: 45PX;
                                font-weight: 500;
                                margin: 20px 0;
                                letter-spacing: 2px;
                    
                            }
                            .dos p{
                                font-size: 25px;
                                letter-spacing: 1px;
                                font-weight: 300;
                                margin-bottom: 10px;
                            }
                            .dos p>i {
                                font-size: 20px;
                                margin-right: 10px;
                            }



            .footer {
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
             }
                                .pie {
                                    margin: 30px;
                                    display: block;
                                    color: rgb(158, 158, 158);
                                    text-align: center;
                                    width: 40%;
                                    height: auto;
                                }
                
                                .pie h2 {
                                    font-size: 23px;
                                    font-weight: 400;
                                }
                                .pie h3 {
                                    font-size: 18px;
                                    font-weight: 400;
                                    margin-bottom: 10px;
                                }
                                .pie p{
                                    font-size: 13px;
                                }
                                    .pie a>i {
                                        color: rgb(158, 158, 158);
                                        font-size: 25px;
                                        margin: 10px 10px;
                                    }





@media only screen and (max-width: 1000px){
/* menu */
    .nav a{
        font-size: 14px;
        padding-left: 20px;
    }
    .nav i{
        font-size: 13px;
    }
    .social a{
        font-size: 16px;
        margin-right: 20px;
        padding-left: 5px;
    }
    .img1 {
        height: 45px;
        width: 45px;
        margin-left:30px;
    }
    /* informacion de la pagina*/

    .informacion {
        margin: 20px;
    }
    .informacion1 {
        margin: 20px;
    }
    .h2 {
        font-size: 35px;
    }
}











@media only screen and (max-width: 700px){
/* menu */
        .nav a{
         
            padding-left: 20px;
        }
        .nav i{
            font-size: 30px;
        }
        .social {
            display: none;
        }
        .span {
            display: none;
        }
        .img1 {
            height: 50px;
            width: 50px;
            margin-left:20px;
        }
        /* informacion de la pagina*/
    
        .informacion {
            margin: 10px;
        }
        .informacion1 {
            margin: 10px;
        }
        .h2 {
            font-size: 30px;
        }

/*karate y mas2*/

        .arti h3 {
            font-size: 30px;
        }

        .ul li {
            font-size: 18px;
        }

         /*contacto*/
    .map {
        display: block;
        height: auto;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .uno {
       width: auto;
       margin: 20px;
    }
    .dos {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 20px;
        display:block;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .dos h2{
        font-size: 25px;
    }
    .dos p{
        font-size: 14px;
    }

       
   /*footer*/
   .pie{
       margin: 30px 0px;
       width: 70%;
   }
       .pie h2 {
           font-size: 12px;
       }
       .pie h3{
           font-size: 10px;
       }
       .pie p{
           letter-spacing: 0px;
           font-size: 9px;
       }

    }
    







    @media only screen and (max-width: 424px){
        /* menu */
                .nav a{
                 
                    padding-left: 20px;
                }
                .nav i{
                    font-size: 30px;
                }
                .social {
                    display: none;
                }
                .span {
                    display: none;
                }
                .img1 {
                    height: 50px;
                    width: 50px;
                    margin-left:20px;
                }
                /* informacion de la pagina*/
            
                .informacion {
                    margin: 10px;
                }
                    .informacion h2{
                        font-size: 26px;
                    }
                    .informacion p{
                        font-size: 15px;
                    }
                .informacion1 {
                    margin: 10px;
                }
                    .informacion1 h2{
                        font-size: 26px;
                    }
                    .informacion1 p{
                        font-size: 15px;
                    }
                    .h2 {
                        font-size: 30px;
                    }
        
        /*karate y mas2*/
        
                .arti h3 {
                    font-size: 28px;
                }
        
                .ul li {
                    font-size: 15px;
                }

            }



@media only screen and (max-width: 360px){
                /* menu */
                        .nav a{
                         
                            padding-left: 10px;
                        }

                        .img1 {
                            width: 40px;
                            height: 40px;
                        }

                /* informacion de la pagina*/
                    
                        .informacion {
                            margin:0px;
                        }
                        .informacion1 {
                            margin: 0px;
                        }
                /*karate y mas2*/
                        .h2   {
                            font-size: 25px;
                        }
                        .arti h3 {
                            font-size: 25px;
                        }
                
                        .ul li {
                            font-size: 15px;
                        }
        

                           /*contacto*/
                    .map {
                        display: block;
                        height: auto;
                        width: auto;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                    }
                    .uno {
                    width: auto;
                    margin: 10px;
                    }
                
                    .dos h2{
                        font-size: 20px;
                    }
                    .dos p{
                        font-size: 14px;
                    }

                    
                /*footer*/
                .pie{
                    margin: 30px 0px;
                    width: 70%;
                }
                    .pie h2 {
                        font-size: 12px;
                    }
                    .pie h3{
                        font-size: 10px;
                    }
                    .pie p{
                        letter-spacing: 0px;
                        font-size: 9px;
       }
                    }